* {
    margin: 0;
    padding: 0;
  }
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
h1 {
    font-size: 150px;
}

button {
    font-size: 40px;
}